@import '../../scss/_variables.scss';
@import '../../scss/_responsive.scss';
.nav-bar{
	width: 100%;
	height: 7vh;
	background-color: $navBarColor;
	display: flex;
	cursor: pointer;
	&__menu{
		width: 15%;
		height: 6vh;
		cursor: pointer;
		@include large{
			display: none;
		}
		&__button{
			width: 100%;
			height: 100%;
			border: none;
			background: no-repeat;
			&-first{
				border: 1px solid;
				width: 25px;
				margin-bottom: 5px;
				margin-left: 20%;
				color: $whiteColor;
				transition: transform 2.0s;
				&--active{
					transform: rotate(-30deg) scale(.5) translateX(-14px);

				}
			}
			&-middle{
				border: 1px solid;
				width: 25px;
				margin-bottom: 5px;
				margin-left: 20%;
				color: white;
			}
			&-last{
				border: 1px solid;
				width: 25px;
				margin-bottom: 5px;
				margin-left: 20%;
				color: white;
				transition: transform 2.0s;
				&--active{
					transform: rotate(30deg) scale(.5) translateX(-14px);

				}
			}
		}
	}
	&__image{
		width: 100%;
		height: 100%;
		object-fit: scale-down;
		&-link{
			position: absolute;
    	width: 100%;
    	height: 100%;
		}
		&__container{
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
	&__list{
    display: flex;
    position: absolute;
    flex-direction: column;
		width: 100%;
    background-color: $navBarListColor;
		margin-left: -500vh;
    transition: margin-left 2.1s;
		top: 6vh;
		min-height: 94vh;
    justify-content: center;
		align-items: center;
		z-index: 1;
		&--active{
			margin-left: 0;
		}
		@include large{
			flex-direction: unset;
			position: unset;
			background-color: unset;
			margin-left: 0;
			min-height: 0;
		}
		& > div {
			width: 100%;
			display: flex;
			justify-content: center;
			&:hover{
				background-color: $dropdownActiveColor;
			}
			@include large{
				align-items: center;
				display: flex;
				height: 100%;
				
			}
		}
		&-item{
			margin-bottom: 50px;
			font-size: 30px;
			width: 100%;
			@include large{
				margin-bottom: 0;
				font-size: 20px;
				margin-left: 20px;
			}
			&-element{
				display: block;
				text-decoration: none;
				width: 100%;
			}
		}
		&-container{
			&:hover{
				background-color: $dropdownActiveColor;
			}
			@include large{
			align-items: center;
			}
	  }
}
	&__dropdown-list{
		will-change: height;
    overflow: hidden;
    height: 0;
		transition: height .2s ease-in-out;
		margin-left: 5px;
		@include large{
			position: absolute;
			margin-top: 2px;
			margin-left: -4px;
		}
		&--active{
			height: auto;
			@include large{
				background-color: $dropdownActiveColor;
			}
		}
		& > li{
			& > a {
				text-decoration: none;
			}
		}
	}
	&__arrow-container{
		display: flex;
		width: 30px;
		margin-top: 8px;
		justify-content: center;

	@include large{
		position: unset;
		margin-left: 0;
	}
	&-item{
		border: 1px solid;
		margin-right: 5px;
		height: 15px;
		max-width: 100%;
		&:first-child{
				transform: rotate(-34deg);
			&.leftArrow--active{
				transform: rotate(34deg);
			}
		}
		&:last-child{
			transform: rotate(34deg);
			&.rightArrow--active{
				transform: rotate(-34deg);
			}
		}
	}
	}
}

